#modalEditarPublicacao__overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.549);  
    top: 0;
    left: 0;
}
#modalEditarPublicacao{
    width: 500px;
    background-color: #242526;
    position: fixed;
    border-radius: 10px;
    border: 1px rgb(88, 88, 88) solid;
}
#modalEditarPublicacao__tituloEBtnDeFechar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(109, 109, 109) solid;
}
#modalEditarPublicacao__tituloModal{
    text-align: center;
    width: 100%;
    color: rgb(236, 236, 236);
    font-family: var(--fontePadrao);
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}
#modalEditarPublicacao__btnFechar{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: #434445;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: rgb(166, 166, 166);
    cursor: pointer;
}
#modalEditarPublicacao__container{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}
#modalEditarPublicacao__nomeEPerfilDoUsuario{
    display: flex;
    align-items: center;
}
#modalEditarPublicacao__perfilUsuario{
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
#modalEditarPublicacao__nomeUsuario{
    font-family: var(--fontePadrao);
    color: rgb(228, 228, 228);
    font-size: 14px;
    font-weight: 600;
}
#modalEditarPublicacao__containerInputs{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3px;
}
#modalEditarPublicacao__containerInputs::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
#modalEditarPublicacao__containerInputs::-webkit-scrollbar-thumb {
    background-color: #666668; 
    border-radius: 5px;
}
#modalEditarPublicacao__campoTexto{
    width: 100%;
    height: 130px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    font-size: 14px;
    color: rgb(217, 217, 217);  
    margin-top: 8px;
}
.modalEditarPublicacao__campoTextoMaisBaixo{
    height: 90px!important;
    margin-bottom: 10px;
}
#modalEditarPublicacao__campoTexto::placeholder{
    color: rgb(156, 156, 156);  
    font-size: 18px;
}

#modalEditarPublicacao__midiasDaPublicacao__listaMidias{
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
    margin-bottom: 35px;
}
#modalEditarPublicacao__midiasDaPublicacao__midia{
    height: 90px;
    position: relative;
}
#modalEditarPublicacao__midiasDaPublicacao__midiaOvelay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    border-radius: 8px;
    transition: 100ms;
}
#modalEditarPublicacao__midiasDaPublicacao__midiaOvelay:hover{
    background-color: rgba(213, 213, 213, 0.254);
}
#modalEditarPublicacao__btnExcluirMidia{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #222222;
    margin: 5px;
    padding: 3px;
    border-radius: 50%;
    font-size: 19px;
    color: rgb(156, 156, 156);
}
#modalEditarPublicacao__midiasDaPublicacao__midia img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}

#modalEditarPublicacao__divAdicionarFotosEVideos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0 0.2px white;
    border-radius: 8px;
    font-family: var(--fontePadrao);
    padding: 10px;
    font-size: 13px;
    color: rgb(234, 234, 234);
    font-weight: 600;
}
#modalEditarPublicacao__divAdicionarFotosEVideos__icones button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
#modalEditarPublicacao__btnPublicar{
    width: 100%;
    margin-top: 15px;
    font-family: var(--fontePadrao);
    padding: 10px 0;
    cursor: pointer;
    background-color: #2176FF;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: 120ms;
}
.modalEditarPublicacao__btnPublicarInativo{
    background-color: #505151!important;
}