#publicacao__areaComentarios{
    margin-top: 12px;
}
#publicacao__areaComentarios__comentarios{
    margin-bottom: 10px;
}


#publicacao__inputNovoComentario{
    display: flex;
    align-items: center;
}
#inputNovoComentario__perfil{
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}