#menuEsquerdo{
    background-color: #18191A;
    width: 300px;
    height: 100vh;
    position: fixed;
    padding-top: 60px;
}
#menuEsquerdo__opcoes{
    padding: 30px 10px;
}
#menuEsquerdo__opcao{
    display: flex;
    align-items: center;
    padding: 13px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
}
#menuEsquerdo__opcao:hover{
    background-color: #3A3B3C;
}
#menuEsquerdo__opcao__perfil{
    width: 38px;
    border-radius: 50%;
}
#menuEsquerdo__opcao__icone{
    font-size: 20px;
    background-color: #4B4A4A;
    border-radius: 50%;
    color: white;
    padding: 10px;
}
#menuEsquerdo__opcao__nome{
    font-family: 'Montserrat', sans-serif;
    color: rgb(230, 230, 230);
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
}
@media( max-width: 1250px ){
    #menuEsquerdo{
        width: 280px;
    }
    #menuEsquerdo__opcao__icone{
        font-size: 18px;
    }
    #menuEsquerdo__opcao__nome{
        font-size: 13px;
    }
}
@media( max-width: 930px ){
    #menuEsquerdo{
        width: 240px;
    }
    #menuEsquerdo__opcao__icone{
        font-size: 18px;
    }
    #menuEsquerdo__opcao__nome{
        font-size: 13px;
    }
}
@media(max-width: 680px){
    #menuEsquerdo{
        display: none;
    }
}
