#notificacoesPage{
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 50, 50);
    padding: 108px 12px;
    box-sizing: border-box;
}
#notificacoesMobile__titulo{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 20px;

}
.notificacoesMobile__notificacao{
    display: flex;
    padding: 10px 5px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #464545;
    margin-bottom: 12px;

}
#notificacaoMobile__perfil{
    width: 54px;
    border-radius: 50%;
}
#notificacaoMobile__acao{
    color: rgb(237, 237, 237);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
}
#notificacaoMobile__acao__autor{
    font-weight: 600;
}
@media(min-width: 600px){
    #notificacoesPage{
        margin-left: 300px;
    }
}