#editarPublicacaoMobile__page{

}
#editarPublicacaoMobile__cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px rgb(70, 70, 70) solid;
}
#editarPublicacaoMobile__cabecalho__container{
    display: flex;
    align-items: center;
    width: 60%;
}
#editarPublicacaoMobile__btnVoltar{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(201, 201, 201);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}
#editarPublicacaoMobile__titulo{
    font-family: var(--fontePadrao);
    color: rgb(201, 201, 201);
    margin-left: 7px;
    font-size: 16px;
    font-weight: 600;
}
#editarPublicacaoMobile__btnPublicar{
    background-color: #2176FF;
    color: white;
    font-family: var(--fontePadrao);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 100ms;
}
.editarPublicacaoMobile__btnPublicarInativo{
    background-color: #444546!important;
    color: rgb(155, 155, 155)!important;
}
#editarPublicacaoMobile__container{
    padding: 15px;
}
#editarPublicacaoMobile__divPerfilENomeUsuario{
    display: flex;
    align-items: center;
}
#editarPublicacaoMobile__divPerfilENomeUsuario__perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#editarPublicacaoMobile__divPerfilENomeUsuario__nome{
    font-family: var(--fontePadrao);    
    color: rgb(206, 206, 206);
    font-weight: 600;
    margin-left: 5px;
}
#editarPublicacaoMobile__campoTexto{
    width: 100%;
    height: 270px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    font-size: 18px;
    color: rgb(217, 217, 217);  
    margin-top: 20px;
}
#editarPublicacaoMobile__midiasDaPublicacao__listaMidias{
    width: 100%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
    margin-bottom: 35px;
}
#editarPublicacaoMobile__midiasDaPublicacao__midia{
    height: 90px;
    position: relative;
}
#editarPublicacaoMobile__midiasDaPublicacao__midiaOvelay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    border-radius: 8px;
    transition: 100ms;
}
#editarPublicacaoMobile__midiasDaPublicacao__midiaOvelay:hover{
    background-color: rgba(213, 213, 213, 0.254);
}
#editarPublicacaoMobile__btnExcluirMidia{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #222222;
    margin: 5px;
    padding: 3px;
    border-radius: 50%;
    font-size: 19px;
    color: rgb(156, 156, 156);
}
#editarPublicacaoMobile__midiasDaPublicacao__midia img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}
#editarPublicacaoMobile__campoTexto::placeholder{
    color: rgb(156, 156, 156);  
    font-size: 20px;
}
#editarPublicacaoMobile__divIconeFotoOuVideo{ 
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-top: 1px rgb(70, 70, 70) solid;
    background-color: #18191A;
}
#editarPublicacaoMobile__divIconeFotoOuVideo button{ 
    width: 100%;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}
#editarPublicacaoMobile__divIconeFotoOuVideo button img{ 
    width: 27px;
}

