.publicacao__areaComentarios__comentario{
    font-family: var(--fontePadrao);
}
#comentario__listaDeRespostas{
    padding-left: 50px;
}

#comentario__listaDeRespostas__divInputResponder{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
#comentario__divInputResponder__perfil{
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#comentario__divInputResponder__container{
    width: 100%;
}
#comentario__divInputResponder__divInput{
    display: flex;
    background-color: #3A3B3C;
    margin-left: 5px;
    border-radius: 20px;
}
#comentario__divInputResponder__input{
    width: 100%;
    border: none;
    outline: none;
    color: rgb(227, 227, 227);
    background-color: #3A3B3C;
    font-family: var(--fontePadrao);
    border-radius: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
}
#comentario__divInputResponder__input::placeholder{
    color: rgb(158, 158, 158);
}
#comentario__divInputResponder__btnEnviarResposta{
    background-color: transparent;
    outline: none;
    border: none;
    color: #2176FF;
    cursor: pointer;
    font-weight: 600;
    transition: 200ms;
}
.btnResponderInativo{
    color: #757575!important;
}

#comentario__divInputResponder__textoCancelar{
    font-size: 12px;
    color: rgb(216, 216, 216);
    margin-left: 10px;
    margin-top: 2px;
}
#comentario__divInputResponder__textoCancelar button{
    padding: 0;
    border: none;
    font-family: var(--fontePadrao);
    color: #0866FF;
    background-color: transparent;
    font-size: 12px;
    margin-left: 3px;
    cursor: pointer;
    font-weight: 500;
}
#comentario__divInputResponder__textoCancelar button:hover{
    text-decoration: underline;
}

@media( max-width: 680px ){
    #comentario__listaDeRespostas{
        padding-left: 20px;
    }
}
