.publicacao__areaComentarios__comentario{
    font-family: var(--fontePadrao);
}
#comentario__listaDeRespostas{
    padding-left: 50px;
}
@media( max-width: 680px ){
    #comentario__listaDeRespostas{
        padding-left: 20px;
    }
}
