#modalEditarConta__overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.549);
    top: 0;
    right: 0;
}
#modalEditarConta{
    width: 500px;
    background-color: #242526;
    position: fixed;
    border-radius: 10px;
    border: 1px rgb(88, 88, 88) solid;
}
#modalEditarConta__tituloEBtnDeFechar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(109, 109, 109) solid;
}
#modalEditarConta__tituloModal{
    text-align: center;
    width: 100%;
    color: rgb(236, 236, 236);
    font-family: var(--fontePadrao);
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}
#modalEditarConta__btnFechar{
    position: absolute;
    right: 3%;
    top: 2%;
    background-color: #434445;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: rgb(166, 166, 166);
    cursor: pointer;
}
#modalEditarConta__container{
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
}
#modalEditarConta__container__inputs{
    padding: 15px;
    max-height: 350px;
    overflow-y: scroll;
}
#modalEditarConta__container__inputs::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
#modalEditarConta__container__inputs::-webkit-scrollbar-thumb {
    background-color: #666668; 
    border-radius: 5px;
}
#modalEditarConta__divCampoTexto{
    margin: 25px 0;
}
#modalEditarConta__divCampoTextoLabel{
    font-family: var(--fontePadrao);
    color: rgb(218, 218, 218);
    font-weight: 500;
    font-size: 14px;
}
#modalEditarConta__divCampoTextoInput{
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    font-weight: 400;
    background-color: #3A3B3C;
    color: rgb(233, 233, 233);
    padding: 12px 8px;
    box-sizing: border-box;
    margin-top: 4px;
    border-radius: 5px;
    font-size: 14px;
}
#modalEditarConta__divCampoTexto__divInputSenha{
    display: flex;
    align-items: center;
    background-color: #3A3B3C;
    margin-top: 4px;
    border-radius: 5px;
}
#modalEditarConta__divCampoTexto__divInputSenha input{
    margin-top: 0;
}
#modalEditarConta__divCampoTexto__divInputSenha button{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgb(215, 215, 215);
    margin-right: 8px;
}

#modalEditarConta__btnSalvar{
    width: 100%;
    margin: 15px 0;
    font-family: var(--fontePadrao);
    padding: 12px 0;
    cursor: pointer;
    background-color: #2176FF;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: 120ms;

}
.modalEditarConta__btnSalvarInativo{
    background-color: #505151!important;
}