#modalCadastroUsuarioOverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#modalCadastro{
    width: 500px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 0 8px 1px rgb(200, 200, 200);
    border-radius: 10px;
}
#modalCadastro__divTituloEBtnFechar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    font-family: var(--fontePadrao);
    font-size: 22px;
    font-weight: 500;
    color: rgb(81, 81, 81);
}
#modalCadastro__btnFechar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: rgb(86, 86, 86);
}
#linhaDivisoriaTitulo{
    border: 1px rgb(193, 193, 193) solid;
    width: 100%;
    margin: 0!important;
}
#modalCadastro__formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#modalCadastro__formulario input{
    font-family: var(--fontePadrao);
    background-color: #F5F6F7;
    border: 1px rgb(205, 205, 205) solid;
    padding: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
#modalCadastro__formulario input:focus{
    border: 1px #1877F2 solid;
}
#modalCadastro__formulario label{
    font-family: var(--fontePadrao);
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}
#modalCadastro__formulario label input{
    margin-top: 5px;
}