#toast__overlay{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 25;
}
#toast{
    padding: 15px 25px;
    left: 50%;
    background-color: #bf0303;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 40%;
}
#toast__divIconeETitulo{
    display: flex;
    align-items: center;
    color: rgb(240, 240, 240);
    font-family: var(--fontePadrao);
}
#toast__divIconeETitulo h4{
    font-weight: 600;
    margin-left: 5px;
    font-size: 14px;
}
#toast__texto{
    color: rgb(240, 240, 240);
    font-family: var(--fontePadrao);
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;

}
@media(max-width: 680px){
    #toast{
        max-width: 80%;
    }
}