#compartilharPublicacaoMobile__page{

}
#compartilharPublicacaoMobile__cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px rgb(70, 70, 70) solid;
}
#compartilharPublicacaoMobile__cabecalho__container{
    display: flex;
    align-items: center;
    width: 60%;
}
#compartilharPublicacaoMobile__btnVoltar{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(201, 201, 201);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
}
#compartilharPublicacaoMobile__titulo{
    font-family: var(--fontePadrao);
    color: rgb(201, 201, 201);
    margin-left: 7px;
    font-size: 13px;
    font-weight: 600;
}
#compartilharPublicacaoMobile__btnPublicar{
    background-color: #2176FF;
    color: white;
    font-family: var(--fontePadrao);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: 100ms;
}
.compartilharPublicacaoMobile__btnPublicarCarregando{
    background: linear-gradient(90deg, #2176FF, #529af2, #1971ff);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
    cursor: progress!important;
}
@keyframes loading {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
.compartilharPublicacaoMobile__btnPublicarInativo{
    background-color: #444546!important;
    color: rgb(155, 155, 155)!important;
}
#compartilharPublicacaoMobile__container{
    padding: 15px;
}
#compartilharPublicacaoMobile__divPerfilENomeUsuario{
    display: flex;
    align-items: center;
}
#compartilharPublicacaoMobile__divPerfilENomeUsuario__perfil{
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#compartilharPublicacaoMobile__divPerfilENomeUsuario__nome{
    font-family: var(--fontePadrao);    
    color: rgb(206, 206, 206);
    font-weight: 600;
    margin-left: 5px;
}
#compartilharPublicacaoMobile__campoTexto{
    width: 100%;
    height: 170px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    font-size: 18px;
    color: rgb(217, 217, 217);  
    margin-top: 20px;
    margin-bottom: 10px;
}
#compartilharPublicacaoMobile__containerPublicacao{
    border: 1px rgb(103, 103, 103) solid;
    border-radius: 10px;
}
#compartilharPublicacaoMobile__campoTexto::placeholder{
    color: rgb(156, 156, 156);  
    font-size: 20px;
}
