:root{
    --fontePadrao: 'Roboto', sans-serif;
}
body{
    background-color: #18191A;
}
.displayNone{
    display: none!important;
}
.espacamentosParaCompensarPartesDoHeader{
    padding-top: 90px;
}
.espacamentosParaCompensarPartesDosMenus{
    margin-left: 300px;
    padding-top: 80px;
}
