#feed{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* Margens para compensar menus */
    padding-left: 325px;
    padding-right: 420px;
    padding-top: 80px;
}
@media( max-width: 1250px ){
    #feed{
        /* Margens para compensar menus */
        padding-left: 290px;
        padding-right: 300px;
        padding-top: 80px;
    }
}
@media( max-width: 1100px ){
    #feed{
        /* Margens para compensar menus */
        padding-left: 290px;
        padding-right: 100px;
        padding-top: 80px;
    }
}
@media( max-width: 930px ){
    #feed{
        /* Margens para compensar menus */
        padding-left: 250px;
        padding-right: 20px;
        padding-top: 80px;
    }
}
@media( max-width: 680px ){
    #feed{
        /* Margens para compensar menus */
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 80px;
    }
}