#perfilUsuario__feed__titulo{
    width: 100%;
    background-color: #242526;
    font-family: var(--fontePadrao);
    color: rgb(212, 212, 212);
    padding: 18px 15px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 8px;
    box-sizing: border-box;
}