#perfilUsuario__feed__titulo{
    width: 100%;
    background-color: #242526;
    font-family: var(--fontePadrao);
    color: rgb(212, 212, 212);
    padding: 18px 15px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 8px;
    box-sizing: border-box;
}

#perfilUsuario__containerInformacoesLaterais{
    width: 40%;
}
#perfilUsuario__apresentacaoLateral{
    background-color: #242526;
    font-family: var(--fontePadrao);
    padding: 15px;
    border-radius: 8px;
}
#perfilUsuario__informacoesLaterais__titulo{
    color: #E4E6EB;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: var(--fontePadrao);
    font-size: 17px;
}
.perfilUsuario__apresentacaoLateral__listaDeInformacoes__informacao{
    display: flex;
    align-items: center;
    color: rgb(203, 203, 203);
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.perfilUsuario__apresentacaoLateral__listaDeInformacoes__informacao i{
    margin-right: 8px;
}
#informacaoUsuario__textoDestaque{
    font-weight: bold;
    margin-left: 5px;
}

#perfilUsuario__fotosLateral{
    margin-top: 15px;
    background-color: #242526;
    font-family: var(--fontePadrao);
    padding: 15px;
    border-radius: 8px;
}
#perfilUsuario__fotosLateral__listaDeFotos{
    display: grid;
    width: 100%;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-gap: 5px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto{
    width: 100%;
    height: 100px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto:nth-child(1) img{
    border-top-left-radius: 10px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto:nth-child(3) img{
    border-top-right-radius: 10px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto:nth-last-child(3) img{
    border-bottom-left-radius: 10px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto:last-child img{
    border-bottom-right-radius: 10px;
}
.perfilUsuario__fotosLateral__listaDeFotos__foto img{
    object-fit: cover;
    object-position: center center;
    width: 100%;    
    height: 100%;
}


#perfilUsuario__amigosLateral{
    margin-top: 15px;
    background-color: #242526;
    font-family: var(--fontePadrao);
    padding: 15px;
    border-radius: 8px;
}
#perfilUsuario__amigosLateral__listaDeAmigos{
    display: grid;
    width: 100%;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 12px;
}
.perfilUsuario__amigosLateral__listaDeAmigos__amigo{
    width: 100%;
    height: 120px;
}
.perfilUsuario__listaDeAmigos__perfilAmigo{
    height: 90px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}
.perfilUsuario__listaAmigos__nomeAmigo{
    font-family: var(--fontePadrao);
    color: rgb(212, 212, 212);
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
}

#perfilUsuario__feed{
    width: 60%;
    height: 1000px;
    padding-left: 17px;
    box-sizing: border-box;
}


.perfilUsuario__apresentacaoLateral__listaDeInformacoes__informacaoCarregando{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.perfilUsuario__apresentacaoLateral__listaDeInformacoes__informacaoCarregando div{
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
    margin-right: 10px;
    border-radius: 5px;
}
.perfilUsuario__apresentacaoLateral__listaDeInformacoes__informacaoCarregando span{
    width: 280px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}

.perfilUsuario__fotosLateral__listaDeFotos__fotoCarregando{
    width: 100%;
    height: 100px;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}


.perfilUsuario__amigosLateral__listaDeAmigos__amigoCarregando{
    width: 100%;
    height: 120px;
}
.perfilUsuario__amigosLateral__listaDeAmigos__amigoCarregando div{
    height: 90px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
.perfilUsuario__amigosLateral__listaDeAmigos__amigoCarregando span{
    display: inline-block;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    border-radius: 5px;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}


#paginaUsuario__feed__publicacaoCarregando{
    width: 100%;
    height: 500px;
    background-color: #242526;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
}
#paginaUsuario__feed__publicacaoCarregando__containerInfo{
    display: flex;
    align-items: center;
}
#paginaUsuario__feed__publicacaoCarregando__perfil{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5C5E61;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
#paginaUsuario__feed__publicacaoCarregando__nome{
    width: 200px;
    height: 15px;
    border-radius: 20px;
    background-color: #5C5E61;
    margin-left: 10px;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}


@keyframes loading {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
