#adicionarAmigosPage{
    box-sizing: border-box;
    padding-left: 320px;
    padding-right: 350px;
    padding-bottom: 20px;
    padding-top: 100px;
    width: 100%;
}
#adicionarAmigosPage__container{
    background-color: #242526;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}
#adicionarAmigosPage__titulo{
    font-family: var(--fontePadrao);
    font-size: 21px;
    font-weight: bold;
    color: rgb(236, 236, 236);
    margin-bottom: 15px;
}
#adicionarAmigosPage__listaPessoas{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 8px;
}
@media( max-width: 1190px ){
    #adicionarAmigosPage__listaPessoas{
        grid-template-columns: 100%;
    } 
}
@media( max-width: 1100px ){
    #adicionarAmigosPage{
        padding-left: 320px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-top: 100px;
        width: 100%;
    }
}
@media( max-width: 680px ){
    #adicionarAmigosPage{
        padding-left: 8px;
        padding-right: 8px;
        width: 100%; 
        box-sizing: border-box;
    }
    #adicionarAmigosPage__container{
        background-color: transparent;
        box-sizing:border-box;
        padding: 5px;
    }
    #adicionarAmigosPage__titulo{
        font-size: 20px;
        font-weight: 600;
        font-family: var(--fontePadrao);
        color: white;
        margin-bottom: 20px;
    }
}