#containerLogoEInput{
    display: flex;
    align-items: center; 
}
#logoHeader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#divInputPesquisarHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: #3A3B3C;
    border-radius: 30px;
    color: rgb(191, 191, 191);
    padding: 0 20px;
}
#divInputPesquisarHeader a{
    text-decoration: none;
    color: rgb(191, 191, 191);
}
#inputPesquisarHeader{
    font-family: var(--fontePadrao);  
    outline: none;
    font-size: 15px;
    background-color: #3A3B3C;
    border: none;
    border-radius: 30px;
    color: rgb(237, 237, 237);
    padding: 12px 0px;
    margin-left: 10px;
}
#inputPesquisarHeader::placeholder {
    color: rgb(191, 191, 191);
    font-size: 14px;
}
@media(max-width: 680px){
    #logoHeader{
        width: 38px;
        height: 38px;
    }
    #containerLogoEInput{
        justify-content: space-between;
        padding: 0 10px;
    }
    #inputPesquisarHeader{
        display: none;
    }
    #divInputPesquisarHeader{
        width: 38px;
        height: 38px;
        padding: 0px;
        border-radius: 50%;
        font-size: 22px;
    }
    #divInputPesquisarHeader i{
        font-size: 22px;
    }
}