#pesquisarPorUmaPessoaMobile_page{
    
}
#pesquisarPorUmaPessoaMobile__divInputEBtnVoltar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px rgb(70, 70, 70) solid;
}
#pesquisarPorUmaPessoaMobile__btnVoltar{
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(218, 218, 218);
    padding: 0;
    font-weight: bold;
}
#pesquisarPorUmaPessoaMobile__inputPesquisar{
    width: 90%;
    background-color: #3A3B3C;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--fontePadrao);
    color: rgb(210, 210, 210);
}
#pesquisarPorUmaPessoaMobile__listaDeResultados{
    padding: 10px;
}
#pesquisarPorUmaPessoaMobile__listaDeResultados__resultado{
    display: flex;
    align-items: center;
    font-family: var(--fontePadrao);
    margin-bottom: 12px;
}
#pesquisarPorUmaPessoaMobile__listaDeResultados__resultado__perfil{
    width: 32px;
    border-radius: 50%;
}
#pesquisarPorUmaPessoaMobile__listaDeResultados__resultado__nome{
    color: white;
    margin-left: 5px;
    font-size: 13px;
}