#adicionarAmigosPage__pessoa{
    display: flex;
    justify-content: space-between;
    border: 1px rgb(46, 46, 46) solid;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}
#pessoa__perfil{
    width: 70px;
    height: 50px;
    border-radius: 10px;
}
#adicionarAmigosPage__pessoa__container{
    display: flex;
}
#pessoa__informacoesPessoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(236, 236, 236);
    font-family: var(--fontePadrao);
    margin-left: 10px;
}
#pessoa__informacoesPessoa__nome{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
#pessoa__informacoesPessoa__amigosEmComum{
    font-size: 11px;
}
#adicionarAmigosPage__pessoa__btnAdicionar{
    background-color: #0866FF;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    cursor: pointer;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    color: rgb(236, 236, 236);
}
#adicionarAmigosPage__pessoa__msgSolicitacaoEnviada{
    font-family: var(--fontePadrao);
    font-size: 11px;
    max-width: 77px;
    color: white;

}
@media( max-width: 680px ){
    #adicionarAmigosPage__pessoa{
        border: 1px rgb(39, 39, 39) solid;
        padding: 10px;
    }
    #pessoa__perfil{
        width: 62px;
    }
    #pessoa__informacoesPessoa__nome{
        font-size: 14px;
        margin-bottom: 8px;
    }
    #pessoa__informacoesPessoa__amigosEmComum{
        font-size: 11px;
    }
}
@media( max-width: 325px ){
    #pessoa__perfil{
        width: 58px;
    }
}




