#navSolicitacoesDeAmizade{
    
}
#listaDeSolicitacoesDeAmizade{
    margin-top: 30px;
}
#listaDeSolicitacoesDeAmizade__solicitacao{
    display: flex;
    padding: 12px 9px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 10px;
}
#listaDeSolicitacoesDeAmizade__solicitacao:hover{
    background-color: #333435;
}
#solicitacao__perfil{
    object-fit: cover;
    object-position: center center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
#solicitacao__informacoesPessoa{
    color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
#solicitacao__informacoesPessoa__nome{
    font-weight: 600;
    font-size: 14px;
}
#solicitacao__informacoesPessoa__amigosEmComum{
    font-size: 12px;
}
#solicitacao__opcoes{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: auto;
}
#solicitacao__opcoes button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: var(--fontePadrao);
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 5px;
}
#solicitacao__opcoes__botaoRemover{
    background-color: #4E4F50;
}
#solicitacao__opcoes__botaoAceitar{
    background-color: #0866FF;
}