#navSolicitacoesDeAmizade{
    background-color: #242526;
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.397);
    min-height: 200px;
    max-height: 550px;
    position: fixed;
    top: 80px;
    width: 450px;
    right: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 9px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
}
#navSolicitacoesDeAmizade::-webkit-scrollbar {
    width: 10px;
}
#navSolicitacoesDeAmizade::-webkit-scrollbar-thumb {
    background-color: #666668; 
    border-radius: 5px;
}
#navSolicitacoesDeAmizade::-webkit-scrollbar-track {
    background-color: #242526;
}
#navSolicitacoesDeAmizade__titulo{
    font-size: 22px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    padding: 9px;
}
#listaDeSolicitacoesDeAmizade{
    margin-top: 30px;
}
#listaDeSolicitacoesDeAmizade__solicitacao{
    display: flex;
    padding: 12px 9px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 10px;
}
#listaDeSolicitacoesDeAmizade__solicitacao:hover{
    background-color: #333435;
}
#solicitacao__perfil{
    width: 58px;
    border-radius: 50%;
}
#solicitacao__informacoesPessoa{
    color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
#solicitacao__informacoesPessoa__nome{
    font-weight: bold;
}
#solicitacao__informacoesPessoa__amigosEmComum{
    font-size: 15px;
}
#solicitacao__opcoes{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: auto;
}
#solicitacao__opcoes button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 5px;
}
#solicitacao__opcoes__botaoRemover{
    background-color: #4E4F50;
}
#solicitacao__opcoes__botaoAceitar{
    background-color: #0866FF;
}