#fotosPerfilDoUsuario__page{
    width: 65%;
    background-color: #242526;
    margin: 15px auto;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}
#fotosPerfilDoUsuario__titulo{
    font-family: var(--fontePadrao);
    color: rgb(237, 237, 237);
    font-size: 19px;
    font-weight: 600;
}
#fotosPerfilDoUsuario__listaDeFotos{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
}
.fotosPerfilDoUsuario__listaDeFotos__foto img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
@media( max-width: 1120px ){
    #fotosPerfilDoUsuario__page{
        width: 85%;
    }
}
@media( max-width: 850px ){
    #fotosPerfilDoUsuario__page{
        width: 93%;
    }
    #fotosPerfilDoUsuario__listaDeFotos{
        grid-template-columns: 24% 24% 24% 24%;
    }
    .fotosPerfilDoUsuario__listaDeFotos__foto img{
        height: 130px;
    }
}
@media( max-width: 740px ){
    #fotosPerfilDoUsuario__page{
        width: 98%;
    }
}
@media( max-width: 520px ){
    #fotosPerfilDoUsuario__page{
        width: 98%;
    }
    #fotosPerfilDoUsuario__listaDeFotos{
        grid-template-columns: 32.32% 32.32% 32.32%;
        padding: 5px 2px;
    }   
}
@media( max-width: 400px ){
    .fotosPerfilDoUsuario__listaDeFotos__foto img{
        height: 110px;
    }  
}