#carrosselImagens__overlay{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.76); */
    background-color: black;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrosselImagens__loader{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 500px;
    height: 550px;
    position: relative;
}
#laoder{
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, #00000000 0%, rgba(29, 29, 29, 0.485) 50%, #00000000 100%);
    position: absolute;
    animation: load 1s linear infinite;
}
@keyframes load {
    0% { left: -100%; }
    100% { left: 100%; }
  }
#carrosselImagens__imagens__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#carrosselImagens__imagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#carrosselImagens__imagem{
    max-width: 85%;
    max-height: 80vh;
    display: none;
}
.imagemExibida{
    display: block!important;
}
.carrosselImagens__btnAvancarEVoltar{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}
#divIconeFecharCarrossel{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
}
#divIconeFecharCarrossel__icone{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
}
#listaPreviasDasImagens{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#listaPreviasDasImagens__imagem{
    width: 48px;
    height: 48px;
    background-attachment: fixed;
    margin: 10px 5px;
    cursor: pointer;
    object-fit: cover;
}
.listaPreviasDasImagens__imagemSelecionada{
    width: 55px!important;
    height: 55px!important;
}
@media( max-width: 590px ){
    #carrosselImagens__overlay{
        background-color: black;
    }
    .carrosselImagens__btnAvancarEVoltar{
        display: none;
    }
    #carrosselImagens__imagem{
        max-width: 100%;
        display: none;
    }
    #listaPreviasDasImagens__imagem{
        width: 45px;
        height: 45px;
    }
    .listaPreviasDasImagens__imagemSelecionada{
        width: 50px!important;
        height: 50px!important;
    }
}
@media( max-width: 380px ){
    #listaPreviasDasImagens__imagem{
        width: 40px;
        height: 40px;
    }
    .listaPreviasDasImagens__imagemSelecionada{
        width: 45px!important;
        height: 45px!important;
    }
}