:root {
    --larguraPrevia: 48px;
    --alturaPrevia: 48px;
    --larguraPreviaSelecionada: 55px;
    --alturaPreviaSelecionada: 55px;
}
#carrosselImagens__overlay{
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.76); */
    background-color: black;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrosselImagens__loader{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 500px;
    height: 550px;
    position: relative;
}
#laoder{
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, #00000000 0%, rgba(29, 29, 29, 0.485) 50%, #00000000 100%);
    position: absolute;
    animation: load 1s linear infinite;
}
@keyframes load {
    0% { left: -100%; }
    100% { left: 100%; }
  }
#carrosselImagens__imagens__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#carrosselImagens__imagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#carrosselImagens__imagem{
    max-width: 85%;
    max-height: 80vh;
    display: none;
}
.imagemExibida{
    display: block!important;
}
.carrosselImagens__btnAvancarEVoltar{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}
#divIconeFecharCarrossel{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: end;
}
#divIconeFecharCarrossel__icone{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
}
#listaMiniaturasDasImagens{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#listaMiniaturasDasImagens__imagem{
    width: var(--larguraPrevia);
    height: var(--alturaPrevia);
    background-attachment: fixed;
    margin: 10px 5px;
    cursor: pointer;
    object-fit: cover;
}
.listaMiniaturasDasImagens__imagemSelecionada{
    width: var(--larguraPreviaSelecionada)!important;
    height: var(--alturaPreviaSelecionada)!important;
}
#listaMiniaturasDasImagens__divImagemVideo{
    width: var(--larguraPrevia);
    height: var(--alturaPrevia);
    background-attachment: fixed;
    margin: 10px 5px;
    cursor: pointer;
    object-fit: cover;
    position: relative;
}
#listaMiniaturasDasImagens__divImagemVideo img{
    margin: 0px!important;
    width: 100%;
    height: 100%;
}
#listaMiniaturasDasImagens__divImagemVideoOverlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px!important;
}
#listaMiniaturasDasImagens__divImagemVideoOverlay i{
    background-color: rgba(188, 188, 188, 0.309);
    border: 3px white solid;
    border-radius: 50%;
    color: white;
}
@media(max-width: 700px){
    :root {
        --larguraPrevia: 30px;
        --alturaPrevia: 30px;
        --larguraPreviaSelecionada: 36px;
        --alturaPreviaSelecionada: 36px;
    }
    #listaMiniaturasDasImagens__divImagemVideoOverlay i{
        font-size: 15px;
        border: 2px white solid;
    }
}
@media( max-width: 590px ){
    #carrosselImagens__overlay{
        background-color: black;
    }
    .carrosselImagens__btnAvancarEVoltar{
        display: none;
    }
    #carrosselImagens__imagem{
        max-width: 100%;
        display: none;
    }
}
@media( max-width: 380px ){
    :root {
        --larguraPrevia: 25px;
        --alturaPrevia: 25px;
        --larguraPreviaSelecionada: 30px;
        --alturaPreviaSelecionada: 30px;
    }
    #listaMiniaturasDasImagens__divImagemVideoOverlay i{
        font-size: 15px;
        border: 2px white solid;
    }
}