#carrosselImagens__overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carrosselImagens__imagem{
    width: 500px;
    display: none;
}
.imagemExibida{
    display: block!important;
}
