#divModalOpcoesConta{
    position: relative;
}
#divModalOpcoesConta__btnAbrirModal{
    object-fit: cover;
    object-position: center center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
#divModalOpcoesConta__modal{
    width: 250px;
    background-color: #232425;
    position: absolute;
    right: 0;
    padding: 10px 15px;
    box-shadow: 0 0 5px 1px rgb(26, 26, 26);
    margin-top: 8px;
    border-radius: 5px;
}
#divModalOpcoesConta__modal__linkConta{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    box-shadow: 0 0 5px 1px rgb(31, 31, 31);
    border-radius: 5px;
    margin-bottom: 15px;
}
#divModalOpcoesConta__linkConta__perfil{
    object-fit: cover;
    object-position: center center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
#divModalOpcoesConta__linkConta__nomeUsuario{
    font-family: var(--fontePadrao);
    color: rgb(224, 224, 224);
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
}
.modalOpcoesConta__btnOpcao{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: var(--fontePadrao);
    font-weight: 600;
    font-size: 13px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(215, 215, 215);
    border-radius: 8px;
}
.modalOpcoesConta__btnOpcao:hover{
    background-color: #3A3B3C;
}
.modalOpcoesConta__btnOpcao i{
    margin-right: 7px;
    border-radius: 50%;
    background-color: #4E4F50;
    padding: 6px;
    font-size: 18px;
}
@media(max-width: 680px){
    #divModalOpcoesConta__btnAbrirModal{
        width: 34px;
        height: 35px;
        margin-left: 0px;
        margin-right: 5px;
    }
    #divModalOpcoesConta__modal{
        right: 10px;
    }
}