#publicacao{
    background-color: #242526;
    width: 600px;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}
#publicacao__infoUsuario{
    display: flex;
}
#publicacao__perfil{
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
}
#publicacao__infoUsuario div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#publicacao__nomeAutor{
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 231, 231);
    font-weight: 600;
    font-size: 15px;
}
#publicacao__tempoDePublicacao{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(165, 165, 165);
}
#publicacao__texto{
    font-family: 'Montserrat', sans-serif;
    color: rgb(215, 215, 215);
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 14px;
}
#publicacao__imagens{
    display: flex;
    flex-wrap: wrap;
}
#publicacao_imagem{

}
.imagemOcupandoTodoTamanho{
    width: 100%;
}
.imagemOcupandoMetade{
    width: 50%;
}
#publicacao__imagens__sobreposicaoDaUltimaImagem div{
    background-color: rgba(0, 0, 0, 0.681);
    width: 100%;
    height: 100%;
}