#opcoesHeader{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.opcoesHeaderIcone{
    color: rgb(238, 238, 238);
    font-size: 21px;
    background-color: #3A3B3C;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    transition: 100ms;
}
.opcoesHeaderIcone:hover{
    background-color: #4b4a4a;
}
.opcoesHeaderIcone__ativo{
    color: #0866FF;
    background-color: #0867ff1b;
}
#opcoesHeaderIcone__perfil{
    padding: 0px;
}
#opcoesHeaderIcone__perfil img{
    width: 39px;
    height: 37px;
    border-radius: 50%;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navOpcoesHeader{
    background-color: #242526;
    box-shadow: 0 0 5px rgba(20, 20, 20, 0.397);
    min-height: 200px;
    max-height: 550px;
    position: fixed;
    top: 80px;
    width: 380px;
    right: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 9px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
}
.navOpcoesHeader::-webkit-scrollbar {
    width: 10px;
}
.navOpcoesHeader::-webkit-scrollbar-thumb {
    background-color: #666668; 
    border-radius: 5px;
}
.navOpcoesHeader::-webkit-scrollbar-track {
    background-color: #242526;
}
.navOpcoesHeader__titulo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    padding: 9px;
}