#mensagensPage{
    width: 100%;
    height: 100vh;
    padding: 112px 12px;
    box-sizing: border-box;
}
#mensagensMobile__titulo{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--fontePadrao);
    color: white;
    margin-bottom: 20px;

}
.mensagensMobile__mensagem{
    display: flex;
    padding: 12px 9px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 10px;
    font-family: var(--fontePadrao);
    background-color: #242526;
    margin-bottom: 12px;
    line-height: 15px;

}
#mensagemMobile__perfil{
    object-fit: cover;
    object-position: center center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
#mensagemMobile__informacoesPessoa{
    color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
#mensagemMobile__informacoesPessoa__nome{
    font-weight: 600;
    font-size: 14px;
}
#mensagemMobile__informacoesPessoa__ultimaMensagem{
    font-size: 12px;
}
@media(min-width: 680px){
    #mensagensPage{
        margin-left: 300px;
    }
}