#modalCompartilharPublicacao__overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.549);
    top: 0;
    left: 0;
}
#modalCompartilharPublicacao{
    width: 500px;
    background-color: #242526;
    position: fixed;
    border-radius: 10px;
    border: 1px rgb(88, 88, 88) solid;
}
#modalCompartilharPublicacao__tituloEBtnDeFechar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(109, 109, 109) solid;
}
#modalCompartilharPublicacao__tituloModal{
    text-align: center;
    width: 100%;
    color: rgb(236, 236, 236);
    font-family: var(--fontePadrao);
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
}
#modalCompartilharPublicacao__btnFechar{
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: #434445;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: rgb(166, 166, 166);
    cursor: pointer;
}
#modalCompartilharPublicacao__container{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}
#modalCompartilharPublicacao__nomeEPerfilDoUsuario{
    display: flex;
    align-items: center;
}
#modalCompartilharPublicacao__perfilUsuario{
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
#modalCompartilharPublicacao__nomeUsuario{
    font-family: var(--fontePadrao);
    color: rgb(228, 228, 228);
    font-size: 14px;
    font-weight: 600;
}
#modalCompartilharPublicacao__containerInputs{
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 3px;
}
#modalCompartilharPublicacao__containerInputs::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
#modalCompartilharPublicacao__containerInputs::-webkit-scrollbar-thumb {
    background-color: #666668; 
    border-radius: 5px;
}
#modalCompartilharPublicacao__campoTexto{
    width: 100%;
    height: 110px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--fontePadrao);
    font-size: 16px;
    color: rgb(217, 217, 217);  
    margin-top: 20px;
    margin-bottom: 10px;
}
#modalCompartilharPublicacao__containerPublicacao{
    border: 1px rgb(82, 82, 82) solid;
    border-radius: 10px;
}
#modalCompartilharPublicacao__campoTexto::placeholder{
    color: rgb(156, 156, 156);  
    font-size: 18px;
}
#modalCompartilharPublicacao__divAdicionarFotosEVideos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 0 0.2px white;
    border-radius: 8px;
    font-family: var(--fontePadrao);
    padding: 10px;
    font-size: 13px;
    color: rgb(234, 234, 234);
    font-weight: 600;
}
#modalCompartilharPublicacao__divAdicionarFotosEVideos__icones button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
#modalCompartilharPublicacao__btnPublicar{
    width: 100%;
    margin-top: 15px;
    font-family: var(--fontePadrao);
    padding: 10px 0;
    cursor: pointer;
    background-color: #2176FF;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    transition: 120ms;
}
.modalCompartilharPublicacao__btnPublicarInativo{
    background-color: #505151!important;
}