#perfilDoUsuario__page{
    padding-top: 65px;
}
#perfilDoUsuario__secaoInformacoesDoUsuario{
    width: 100%;
    background-color: #242526;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
#perfilDoUsuario__fotoDaCapa{
    width: 70%;
    height: 350px;
    background-color: #18191A;
    margin-bottom: 8px;
}
#perfilDoUsuario__secaoInformacoesDoUsuario__fotoCapa{
    width: 70%;
    height: 350px;
    margin-bottom: 8px;
    object-fit: cover;
    object-position: center center;
}
#perfilDoUsuario__perfilNomeEOpcoesDoUsuario{
    width: 65%;
    height: 88px;
    overflow-y: visible;
    position: relative;
    display: flex;
    align-items: end;
}
#perfilDoUsuario__perfilNomeEOpcoesDoUsuario img{
    object-fit: cover;
    object-position: center center;
    height: 180px;
    width: 180px;
    position: absolute;
    top: -100px;
    left: 5px;
    border-radius: 50%;
    border: 3px solid #242526;
}
#perfilDoUsuario__nomeEQuantidadeDeAmigos{
    margin-left: 200px;
    font-family: var(--fontePadrao);
    margin-bottom: 15px;
    padding-top: 10px;
    box-sizing: border-box!important;
    color: #E4E6EB;
    width: 30%;
}
#perfilDoUsuario__nomeEQuantidadeDeAmigos__nome{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 8px;
}
#perfilDoUsuario__nomeEQuantidadeDeAmigos__amigos{
    color: #B0B3AA;
    font-weight: 600;
    font-size: 14px;
}
#perfilDoUsuario__avisoDeSolicitacaoRecebida{
    width: 65%;
    background-color:#323436;
    font-family: var(--fontePadrao);
    color: rgb(228, 228, 228);
    padding: 15px 15px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#perfilDoUsuario__avisoDeSolicitacaoRecebida p{
    display: flex;
    align-items: center;
}
#perfilDoUsuario__avisoDeSolicitacaoRecebida__confirmar{
    background-color: #2176FF;
    color: rgb(228, 228, 228);
    border: none;
    font-family: var(--fontePadrao);
    padding: 9px 8px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
#perfilDoUsuario__avisoDeSolicitacaoRecebida__excluir{
    background-color: #5A5C5C;
    color: rgb(228, 228, 228);
    border: none;
    font-family: var(--fontePadrao);
    padding: 9px 8px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#perfilUsuario__linhaDivisoria{
    width: 65%;
    height: 1px;
    background-color: rgb(101, 101, 101);
    margin: 0 auto;
}
#perfilUsuario__menuPerfil{
    width: 100%;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#perfilUsuario__menuPerfil__listaOpcoes{
    display: flex;
    width: 65%;
    font-family: var(--fontePadrao);
}
.perfilUsuario__menuPerfil__listaOpcoes__opcao{
    padding: 20px;
    font-weight: 600;
    color: rgb(169, 169, 169);
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
}
.perfilUsuario__menuPerfil__listaOpcoes__opcao:hover{
    background-color: #3A3B3C;
    border-radius: 5px;
}
.perfilUsuario__menuPerfil__listaOpcoes__opcaoAtiva{
    border-bottom: 2px #0E57CD solid;
    color: #0E57CD;
}
.perfilUsuario__menuPerfil__listaOpcoes__opcaoAtiva:hover{
    background-color: initial;
    border-radius: initial;
}

#perfilUsuario__containerPrincipal{
    width: 65%;
    display: flex;
    align-items: start;
    margin: 0 auto;
    padding: 20px 0;
}

#perfilDoUsuario__fotoDaCapaCarregando{
    width: 70%;
    height: 350px;
    background-color: #18191A;
    margin-bottom: 8px;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
#perfilDoUsuario__fotoPerfilCarregando{
    height: 180px;
    width: 180px;
    position: absolute;
    top: -100px;
    left: 5px;
    border-radius: 50%;
    border: 3px solid #242526;

    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
#perfilDoUsuario__nomeEQuantidadeDeAmigos__nomeCarregando{
    width: 150px;
    height: 20px;
    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
#perfilDoUsuario__nomeEQuantidadeDeAmigos__amigosCarregando{
    width: 130px;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(90deg, #353638, #555759, #353638);
    background-size: 200% 100%;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

@media( max-width: 1120px ){
    #perfilDoUsuario__fotoDaCapa{
        width: 90%;
    }
    #perfilDoUsuario__perfilNomeEOpcoesDoUsuario{
        width: 85%;
    }
    #perfilDoUsuario__avisoDeSolicitacaoRecebida{
        width: 85%;
    }

    #perfilUsuario__containerPrincipal{
        width: 85%;
    }
    #perfilUsuario__linhaDivisoria{
        width: 85%;
    }
    #perfilUsuario__menuPerfil__listaOpcoes{
        width: 85%;
    }

}
@media( max-width: 850px ){
    #perfilDoUsuario__perfilNomeEOpcoesDoUsuario img{
        height: 150px;
        width: 150px;
        top: -85px;
        left: 5px;
    }
    #perfilDoUsuario__fotoDaCapa{
        width: 98%;
        height: 250px;
    }
    #perfilDoUsuario__perfilNomeEOpcoesDoUsuario{
        width: 93%; 
    }
    #perfilDoUsuario__avisoDeSolicitacaoRecebida{
        display: none;
    }
    #perfilDoUsuario__nomeEQuantidadeDeAmigos{
        margin-left: 170px;
        width: 30%;
    }
    #perfilDoUsuario__nomeEQuantidadeDeAmigos__nome{
        font-size: 24px;
    }


    #perfilUsuario__containerPrincipal{
        width: 93%;
    }
    #perfilUsuario__linhaDivisoria{
        width: 93%;
    }
    #perfilUsuario__menuPerfil__listaOpcoes{
        width: 93%;
    }
    .perfilUsuario__fotosLateral__listaDeFotos__foto{
        height: 85px;
    }
    .perfilUsuario__listaDeAmigos__perfilAmigo{
        height: 75px;
    }

}
@media( max-width: 740px ){
    #perfilDoUsuario__perfilNomeEOpcoesDoUsuario{
        width: 98%; 
    }
    #perfilUsuario__containerPrincipal{
        width: 98%;
    }
    #perfilUsuario__linhaDivisoria{
        width: 98%;
    }
    #perfilUsuario__menuPerfil__listaOpcoes{
        width: 98%;
    }
}
@media( max-width: 680px ){
    #perfilDoUsuario__fotoDaCapa{
        height: 220px;
    }
    #perfilDoUsuario__perfilNomeEOpcoesDoUsuario{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-top: 80px;
    }
    #perfilDoUsuario__nomeEQuantidadeDeAmigos{
        margin-left: 0px;
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }

    #perfilUsuario__containerPrincipal{
        flex-direction: column;
        padding: 20px 10px;
        box-sizing: border-box;
    }
    #perfilUsuario__containerInformacoesLaterais{
        width: 100%;
    }
    #perfilUsuario__feed{
        width: 100%;
    }
    #perfilUsuario__menuPerfil__listaOpcoes{
        width: 95%;
        justify-content: center;
    }
    .perfilUsuario__menuPerfil__listaOpcoes__opcao{
        font-size: 14px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #perfilUsuario__fotosLateral{
        display: none;
    }
    #perfilUsuario__feed{
        padding: 0;
    }
    #perfilUsuario__feed__titulo{
        margin-top: 15px;
    }

}